# Node
node_modules/
npm-debug.log*

# Build
admin/js/*.bundle.js
admin/js/*.bundle.js.LICENSE.txt
admin/css/*.bundle.css
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Env
.env

# ZIPs
*.zip

# Logs
*.log
src/admin/css/main.bundle.css
src/admin/css/main.bundle.css
.phpunit.result.cache
sii-boleta-dte/var/
tests/output/
var/

# Composer
vendor/
